<phpunit bootstrap="bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="true"
         stopOnFailure="true"
         stopOnIncomplete="false"
         stopOnSkipped="false"
 >

    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener"
                  file="../vendor/mockery/mockery/library/Mockery/Adapter/Phpunit/TestListener.php"> </listener>
    </listeners>

    <php>
        <const name="TESTS_IN_PROGRESS" value="1"/>
        <const name="TEST_COUCHDB_NAME" value="translator_couchdb_storage_integration_test_ru_ru"/>
    </php>

    <testsuites>
        <testsuite name="Unit">
            <directory>unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>integration</directory>
        </testsuite>
    </testsuites>

</phpunit>
